/* Estilos para el botón */
.custom-button {
  background-color: #3e2723; /* Café oscuro */
  color: #ffffff; /* Blanco */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-button:hover {
  background-color: #5d4037; /* Café más claro */
}